<div align="center">
  <h1>ReadMe</h1>
  <h4>Para iniciar cadastre um PROCESSO, clicando no bot&atilde;o abaixo ou no menu de navega&ccedil;&atilde;o acima, em seguida cadastre o CLIENTE.</h4>
  <p style="text-align: center;"><a href="https://github.com/RafaelGomides/">Rafael Gomides</a></p>
  <div align="center">
    <%= link_to 'Clientes', clientes_path, class:"btn btn-primary" %>
    <%= link_to 'Processos', processos_path, class:"btn btn-primary" %>
  </div>

</div>

<div class="container">
  <hr />
  <h2>Desafio Backend Developer</h2>

  <hr />
  <p>A Yube est&aacute; criando um sistema para auxiliar o processos de aprova&ccedil;&atilde;o de seus clientes, e foi feito um planning com o Time o qual voc&ecirc; &eacute; integrante e a Sprint come&ccedil;ou. Suas tarefas s&atilde;o as seguintes:</p>

  <h3>CRIA&Ccedil;&Atilde;O DE CLIENTES</h3>

  <p>Criar os endpoints para adicionar, editar, excluir e listar os clientes da Yube. Cada cliente deve ter os seguintes atributos: CNPJ, Raz&atilde;o Social, N&uacute;mero de Funcionarios, Numero de Processos.</p>

  <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">OBS: Importante resaltar que quando o cliente for excluido do sistema, as informa&ccedil;&otilde;es n&atilde;o dever&atilde;o ser perdidas.</div>

  <br>
  <h3>CRIA&Ccedil;&Atilde;O DE PROCESSOS DO CLIENTE</h3>

  <p>Criar os endpoints para adicionar, editar, excluir e listar os processos de cada cliente. Cada processo deve ter os seguintes atributos: Nome, Descri&ccedil;&atilde;o, Status (Pendente, Aprovado, Rejeitado), Data de Cria&ccedil;&atilde;o, Data da &uacute;ltima atualiza&ccedil;&atilde;o</p>

  <p><strong>Requisitos: </strong></p>

  <ul>
    <li>Utilizar Ruby ou Elixir.</li>
    <li>Persistir os dados.</li>
    <li>Descreva no README os passos para execu&ccedil;&atilde;o do seu projeto.</li>
    <li>Deixe seu reposit&oacute;rio p&uacute;blico para analise do Pull Request.</li>
  </ul>

  <p><strong>Ganha mais pontos: </strong></p>

  <ul>
    <li>Cria&ccedil;&atilde;o de testes unit&aacute;rios.</li>
    <li>Cria&ccedil;&atilde;o de uma estrutura de deploy da aplica&ccedil;&atilde;o.</li>
    <li>Fique a vontade para adicionar mais features no projeto desde que esteja dentro do contexto.</li>
  </ul>

  <p><strong>Submiss&atilde;o </strong></p>

  <ul>
    <li>Criar um fork desse projeto e entregar via Pull Request</li>
  </ul>

</div>

